* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Overpass', sans-serif;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    font-size: 15px;
    background: hsl(216, 12%, 8%);
}

.container {
    max-width: 370px;
    margin: 0 auto;
    text-align: left;
    background-color: hsl(213, 19%, 18%);
    padding: 2em;
    border-radius: 16px;
    margin-top: 10vh;
}

.icon-star {
    background-color: hsla(216, 12%, 54%, 0.322);
    width: fit-content;
    padding: 2em 1.9em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .5em;
    margin-bottom: 2em;
}

.text h1 {
    margin: 0;
}

.text p {
    color: hsl(217, 12%, 63%);
}

.ratings {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin: 1.5em 0;
}

.btn-rating {
    border: 0;
    cursor: pointer;
    padding: .75em;
    border-radius: 50%;
    padding: 1em 1.1rem;
    background-color: hsla(216, 12%, 54%, 0.322);
    color: #eee;
    transition: 0.6s;
}

.btn-rating:hover,
.btn-rating:active {
    background-color: hsl(217, 12%, 63%);
}

.btn-rating:focus {
    background-color: hsl(25, 97%, 53%);
    transform: scale(.9);
}

.btn-submit {
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    border: none;
    text-transform: uppercase;
    color: #fff;
    padding: 1em 2em;
    border-radius: 30px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover,
.btn-submit:focus,
.btn-submit:active {
    background-color: #fff;
    color: hsl(25, 97%, 53%);
    transform: scale(1.05);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {
    body {
        background: hsl(216, 12%, 8%);
    }
}